*,
*::before,
*::after {
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    background-color: rgb(214, 214, 214);
}

::-webkit-scrollbar {
    display: none;
}

.top {
    z-index: 1;
    font-family: monospace;
    text-align: center;
    left: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
}

.top a:hover {
    background-color: yellow;
}

.down a:hover {
    background-color: yellow;
}

.down {
    font-family: monospace;
    text-align: center;
    left: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    bottom: 1vh;
}


body {
    z-index: 2;
    box-sizing: border-box;
    font-size: 1rem;
    padding-top: 1vh;
}

.top a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}


.down a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.container {
    position: relative;
    padding: 2vh;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.cards {
    font-size: 20px;
    line-height: 1.5;
    height: 400px;
    background-color: rgb(255, 240, 108);
    flex: 1 0 400px;
    text-align: center;
    overflow: scroll;
    padding-left: 20px;
    padding-right: 20px;
}

.code {
    color: rgb(214, 214, 214);
    margin-left: 50vw;
    margin-right: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    padding: 10px;
}

.code:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(19, 19, 19);
}

li {
    list-style: none;
}